<link rel = "stylesheet" type = "text/css" href = "/css/back-button.css">
<script src="/js/header.js" type="text/javascript"></script>

<div class = "main-container">
    <div class= "header" id="header">
        <div class = "header-left">
            <a href="/admin-homepage" class="header-logo-link" id="home-link1"><img src="/images/logo.png" class="header-logo"></a>
            <a href="/admin-homepage" class="header-home" id="home-link2"><h3>Home</h3></a>
        </div>
        
        <div class = "header-title">
            <div class = "header-text">
                <h3>Sangguniang Barangay ng Parang</h3>
                <h5>Marikina City</h5>
            </div>
        </div>
        <div class="header-right">
            <div class="header-user-profile">
                <span class="header-user-profile-text" id="profile-text">Admin</span>
                <img src="/images/admin-profile.png" class="header-user-profile" id="profile-img">
            </div>
            <button type="button" class="header-logout-btn" id="logout-btn">Logout</button>
        </div>
    </div>

    
    <div class = "page-content-container" id="view-case-page">
        <div class="back-and-title">
            <div class="upper-container" id="form-upper-container">
            <!-- Back button should be changed to admin tanod view page (database) -->
                <a href="/admin-tanod-db-view" class="back-button" id="black-back-button">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="black" class="size-4">
                        <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Zm10.25.75a.75.75 0 0 0 0-1.5H6.56l1.22-1.22a.75.75 0 0 0-1.06-1.06l-2.5 2.5a.75.75 0 0 0 0 1.06l2.5 2.5a.75.75 0 1 0 1.06-1.06L6.56 8.75h4.69Z" clip-rule="evenodd"></path>
                    </svg>
                    Back
                </a>
            </div>
            <h1 id = "tanod-case-title">Tanod Case Details</h1>
        </div>
        <div class = "form-encasing-container">
            <div class = "form-actual-container">
                {{!-- read only form : for viewing --}}
                <form class="case-form">
                    <div class = "form-section" id = "basic-info">
                        <div class = "column-section">
                            <label for="entry-number-input" class ="bold-label">Entry Number</label>
                            <input class = "entry-number-input" type = "text" placeholder= "Entry Number" value="{{cases.EntryNo}}" readonly>
                        </div>
                        <div class = "column-section">
                            <label for="date" class ="bold-label">Date</label>
                            <input type = "text" id = "dateInput" value="{{cases.Date}}" readonly>
                        </div>
                        <div class = "column-section1">
                            <label for="case-form" class ="bold-label">Status</label>
                            {{#checkStatus cases.Status}}
                                <select name="case-form" class="status-dropdown-view" readonly>
                                    <option value="" disabled hidden>Select Status</option>
                                    <option value="1" selected>Resolved</option>
                                    <option value="0">Ongoing</option>
                                </select>
                            {{else}}
                                <select name="case-form" class="status-dropdown-view" readonly>
                                    <option value="" disabled hidden>Select Status</option>
                                    <option value="1">Resolved</option>
                                    <option value="0" selected>Ongoing</option>
                                </select>
                            {{/checkStatus}}
                        </div>
                    </div>
                    <span class = "section-name">Reportee Information</span>
                    <div class = "form-section" id = "reportee-info">
                        <div class = "input-pair">
                            <label for="last-name-input">Last Name</label>
                            <input class = "last-name-input" type ="text" placeholder="Last Name" value="{{cases.ReporteeInfo.LastName}}" readonly>
                        </div>
                        <div class = "input-pair">
                            <label for="middle-initial-input">Middle Initial</label>
                            <input class = "middle-name-input" type = "text" placeholder="M.I." maxlength="1" value="{{cases.ReporteeInfo.MiddleInitial}}" readonly>
                        </div>
                        <div class = "input-pair">
                            <label for="first-name-input">First Name</label>
                            <input class = "first-name-input" type = "text" placeholder="First Name" value="{{cases.ReporteeInfo.FirstName}}" readonly>
                        </div>
                    </div>
                    <div class="form-section" id = "reportee-additional-info">
                        <div class = "input-pair">
                            <label for="">Reportee Address</label>
                            <input class = "address-input" type = "text" placeholder="Reportee Address" value="{{cases.ReporteeInfo.Address}}" readonly> 
                        </div>
                    </div>
                    <span class="section-name">Nature of Blotter</span>
                    <div class = "form-section">
                        <div class = "input-pair">
                            <input class = "nature-of-blotter-input" type = "text" placeholder="Nature of Blotter" value="{{cases.natureOfBlotter}}" readonly>
                        </div>
                    </div>
                    <span class = "section-name">Respondent Information</span>
                    <div class = "form-section" id = "respondent-info">
                        <div class = "input-pair">
                            <label for="last-name-input">Last Name</label>
                            <input class = "last-name-input" type ="text" placeholder="Last Name" value="{{cases.RespondentInfo.LastName}}" readonly>
                        </div>
                        <div class = "input-pair">
                            <label for="middle-initial-input">Middle Initial</label>
                            <input class = "middle-name-input" type = "text" placeholder="M.I." maxlength="1" value="{{cases.RespondentInfo.MiddleInitial}}" readonly>
                        </div>
                        <div class = "input-pair">
                            <label for="first-name-input">First Name</label>
                            <input class = "first-name-input" type = "text" placeholder="First Name" value="{{cases.RespondentInfo.FirstName}}" readonly>
                        </div>
                    </div>
                    <span class = "section-name">Desk Officer Information</span>

                    <div class = "form-section" id = "desk-officer-information">
                        <div class = "input-pair">
                            <label for="last-name-input">Last Name</label>
                            <input class = "last-name-input" type ="text" placeholder="Last Name" value="{{cases.DeskOfficerInfo.LastName}}" readonly>
                        </div>
                        <div class = "input-pair">
                            <label for="middle-initial-input">Middle Initial</label>
                            <input class = "middle-name-input" type = "text" placeholder="M.I." maxlength="1" value="{{cases.DeskOfficerInfo.MiddleInitial}}" readonly>
                        </div>
                        <div class = "input-pair">
                            <label for="first-name-input">First Name</label>
                            <input class = "first-name-input" type = "text" placeholder="First Name" value="{{cases.DeskOfficerInfo.FirstName}}" readonly>
                        </div>
                    </div>
                    <span class = "section-name">Witness Information</span>
                    <div class = "form-section" id = "witness-information">
                        <div class = "input-pair">
                            <label for="last-name-input">Last Name</label>
                            <input class = "last-name-input" type ="text" placeholder="Last Name" value="{{cases.WitnessInfo.LastName}}" readonly>
                        </div>
                        <div class = "input-pair">
                            <label for="middle-initial-input">Middle Initial</label>
                            <input class = "middle-name-input" type = "text" placeholder="M.I." maxlength="1" value="{{cases.WitnessInfo.MiddleInitial}}" readonly>
                        </div>
                        <div class = "input-pair">
                            <label for="first-name-input">First Name</label>
                            <input class = "first-name-input" type = "text" placeholder="First Name" value="{{cases.WitnessInfo.FirstName}}" readonly>
                        </div>
                    </div>
                    <span class ="section-name">Location</h5>
                    <div class = "form-section" id="location">
                        <div class = "input-pair">
                            <input class = "location-input" type = "text" placeholder="Location" value="{{cases.Location}}" readonly>
                        </div>
                    </div>
                </form>
                
            </div>  
        </div>
    
        <div class = "buttons-container">
            {{#checkStatus cases.Status}}
                <a href="/delete-case/{{cases._id}}"><button type="button" class="form-btn delete"><img src="/images/form-trash.png"><span>Delete this record</span></button></a>
            {{else}}
                <a href="/tanod-markResolved/{{cases._id}}"><button type="button" class="form-btn resolved"><img src="/images/form-check.png"><span>Mark as Resolved</span></button></a>
                <a href="/A-tanod-edit-case/{{cases._id}}"><button type="button" class="form-btn edit"><img src="/images/form-edit.png"><span>Edit Data</span></button></a>
                <a href="/delete-case/{{cases._id}}"><button type="button" class="form-btn delete"><img src="/images/form-trash.png"><span>Delete this record</span></button></a>
            {{/checkStatus}}
        </div>
    </div>
</div>