<link rel="stylesheet" type ="text/css" href = "/css/back-button.css">
<link rel = "stylesheet" type = "text/css" href = "/css/homepage.css">
<link rel = "stylesheet" type = "text/css" href = "/css/form.css">
<link rel = "stylesheet" type = "text/css" href = "/css/index.css">
<link rel = "stylesheet" type = "text/css" href = "/css/input-details-page.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
<script src="/js/sweetalert.min.js"></script>
<script src="/js/webcam.min.js"></script>
<script src="/js/resident.js"></script>
<script src ="/js/header.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

<style>
    .input-pair-row{
        display: flex;
        flex-direction: column;
    }
    .input-pair-row.second{
        margin-left: 20px;
    }
     .input-pair.second{
         margin-left: -13px;
     }
     .input-pair.third{
         margin-left: 20px;
     }
    .form-encasing-container{
        height: 650px;
        margin-bottom: 20px;
    }
    
    .form-section{
        justify-content: space-between;
    }
    .first-name-input,          .middle-name-input,         .last-name-input, 
    .resident-birthday-input,   .resident-sex-input,        
    .register-senior-input,     .register-contactno-input,  .status-dropdown-view,
    .resident-rent-own-dropdown-view,   .resident-number-of-residents-in-household-input{
        width: 15rem;
    }
    .resident-email-input {
        margin-right: 18px;
        width: 15rem;
    }
    .resident-age-input {
        margin-left: -5px;
        margin-right: 18px;
        width: 15rem;
    }

    #senior-row {
        display: flex;
        flex-direction: column;

        margin-left: 50px;
    }

    .last-name-input{
         margin-right: 0px;
    }
    .column-section {
        padding-right: 0rem;
    }
    .form-section.housing-row{
        justify-content: flex-start;
    }
    input[readonly], .status-dropdown-view, .resident-rent-own-dropdown-view, textarea[readonly] {
        background-color: #EAF3F7;
    }

    .register-address-input {
        width: 780px;
    }
    
    /* Modal styles */
    .modal-error {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
        padding-top: 60px;
    }

    .modal-error-content {
        color: green;
        font-family: 'Inter';
        background-color: #fefefe;
        margin: 5% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-width: 600px;
    }

    .close-error {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    .bold-input {
        font-weight: bold;
    }

    .register-senior-input{
        height: 35px;
    }
</style>

<div class="main-container" id="main-container">
    <div class= "header" id="header">
        <div class = "header-left">
            <a href="/" class="header-logo-link" id="home-link1"><img src="/images/logo.png" class="header-logo"></a>
            <a href="/" class="header-home" id="home-link2"><h3>Home</h3></a>
        </div>
        
        <div class = "header-title">
            <div class = "header-text">
                <h3>Sangguniang Barangay ng Parang</h3>
                <h5>Marikina City</h5>
            </div>
        </div>
        <div class="header-right">
            <div class="header-user-profile">
                <span class="header-user-profile-text" id="profile-text">Employee</span>
                <img src="/images/employee-profile.png" class="header-user-profile" id="profile-img">
            </div>
            <a href="/logout"><button type="button" class="header-logout-btn" id="logout-btn" onclick="logout()">Logout</button></a>
        </div>
    </div>

    <div class = "page-content-container" id="view-case-page">
        <div class="back-and-title">
            <div class="upper-container" id="form-upper-container">
                <a href="/employee-resident-db" class="back-button" id="black-back-button">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="black" class="size-4">
                        <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Zm10.25.75a.75.75 0 0 0 0-1.5H6.56l1.22-1.22a.75.75 0 0 0-1.06-1.06l-2.5 2.5a.75.75 0 0 0 0 1.06l2.5 2.5a.75.75 0 1 0 1.06-1.06L6.56 8.75h4.69Z" clip-rule="evenodd"></path>
                    </svg>
                    Back
                </a>
            </div>
            <h1 id = "lupon-case-title">Edit Resident Record</h1>
        </div>

        <div class = "form-encasing-container">
            <div class = "form-actual-container">

                {{!-- FORM --}}
                <form action="/submit-edit-resident-employee" method="post" id="case-form-employee_resident" class="case-form">
                    <!-- Hidden input for _id -->
                    <input type="hidden" name="_id" value="{{residents._id}}">

                    <div class = "form-section middle" id = "respondent-servicerequestno-row">
                        <div class = "column-section">
                            <div class="photo-container">
                                <img src="{{residents.img}}" class="details-profile" id="deets-profile-img" name="img">
                                <button type="button" class="image-upload-button" id="accesscamera" data-toggle="modal" data-target="#photoModal">Capture Photo</button>
                            </div>
                        </div>
                        
                        <div class = "column-section">
                            <label for="respondent-service-request-no" class ="bold-label">Service Request ID #</label>
                            <input class="respondent-service-request-no-input" type = "text" id = "respondent-service-request-no" value="{{residents.ServiceRequestID}}" name="ServiceRequestID">
                        </div>
                    </div>

                    <div class = "form-section" id = "respondent-fullname-row">
                        <div class = "input-pair">
                            <label for="first-name-input">First Name</label>
                            <input class = "first-name-input" type = "text" value="{{residents.FirstName}}" name="FirstName" required id="firstName">
                        </div>
                        <div class = "input-pair">
                            <label for="middle-initial-input">Middle Initial</label>
                            <input class = "middle-name-input" type = "text" value="{{residents.MiddleInitial}}" name="MiddleInitial" required id="middleInitial">
                        </div>
                        <div class = "input-pair">
                            <label for="last-name-input">Last Name</label>
                            <input class = "last-name-input" type ="text" value="{{residents.LastName}}" name="LastName" required id="lastName">
                        </div>
                    </div>

                    <div class = "form-section" id = "respondent-fullname-row">
                        <div class = "input-pair">
                            <label for="resident-birthday">Birthday</label>
                            <input class = "resident-birthday-input" id="birthdateInput" type = "date" value="{{residents.Birthday}}" name="Birthday" required>
                        </div>
                        <div class = "input-pair second">
                            <label for="resident-age">Age</label>
                            <input class = "resident-age-input" type = "number" value="{{residents.Age}}" name="Age" required id="age">
                        </div>
                        <div class = "input-pair Third">
                            <label for="resident-sex">Sex</label>
                            <input class = "resident-sex-input" type = "text" value="{{residents.Sex}}" name="Sex" required id="sex">
                        </div>
                    </div>

                    
                    <div class = "form-section" id = "respondent-senior-contactno-civilstatus-row">
                        <div class = "column-section">
                            <label for="resident-email">Email</label>
                            <input class = "resident-email-input" type ="text" value="{{residents.Email}}" name="Email" required id="email">
                        </div>
                        <div class = "column-section">
                            <label for="register-contactno">Contact No.</label>
                            <input class="register-contactno-input" type = "number" value="{{residents.ContactNo}}" name="ContactNo" required id="contactNo">
                        </div>
                        <div class="column-section">
                            <label for="case-form">Civil Status</label>
                            <select class="status-dropdown-view" name="CivilStatus" required id="civilStatus">
                                <option value="" hidden>Select</option>
                                <option value="Separated"   {{#if (eq residents.CivilStatus "Separated")}}selected{{/if}}>Separated</option>
                                <option value="Widowed"     {{#if (eq residents.CivilStatus "Widowed")}}selected{{/if}}>Widowed</option>
                                <option value="Married"     {{#if (eq residents.CivilStatus "Married")}}selected{{/if}}>Married</option>
                                <option value="Single"      {{#if (eq residents.CivilStatus "Single")}}selected{{/if}}>Single</option>
                            </select>
                        </div>
                    </div>

                    
                    <div class = "column-section" id="senior-row">
                        <label for="register-senior">Senior</label>
                        <select class="register-senior-input" name="isSeniorCitizen" required id="seniorCitizen">
                            <option value="" selected hidden>Select</option> 
                            <option value="Yes"{{#if (eq residents.isSeniorCitizen "Yes")}}selected{{/if}}>Yes</option>
                            <option value="No" {{#if (eq residents.isSeniorCitizen "No")}}selected{{/if}} >No</option>
                        </select>
                    </div>

                    <div class = "column-section" id="senior-row">
                        <label for="register-address">Full Address</label>
                        <input class="register-address-input case" type = "textarea" id = "case-type" value="{{residents.Address}}" name="Address" required>
                    </div>
                    
                    
                    <span class = "section-name">Housing Information</span>
                    <div class = "form-section housing-row" id = "respondent-address-row">
                        <div class = "input-pair-row first">
                            <label for="resident-rent-own">Rent / Own</label>
                            <select class="resident-rent-own-dropdown-view" name="HousingInfo" required id="housingInfo">
                                <option value="" selected hidden>Select</option> 
                                <option value="Rent"{{#if (eq residents.HousingInfo "Rent")}}selected{{/if}}>   Rent</option>
                                <option value="Own" {{#if (eq residents.HousingInfo "Own")}}selected{{/if}}>    Own</option>
                            </select>
                        </div>
                    
                        <div class = "input-pair-row second">
                            <label for="resident-number-of-residents-in-household">Number of Resident/s in Household</label>
                            <input class = "resident-number-of-residents-in-household-input" type = "number" value="{{residents.NoOfResident}}" name="NoOfResident" required id="noOfResident">
                        </div>
                    </div>

                </form>

            </div>  
        </div>
        
        <div class = "buttons-container">
            <button type="button" class="form-btn save"     id="edit-resident-record-employee">     <img src="/images/form-check.png"><span>Save Changes</span></button>
            <button type="button" class="form-btn archive"  id="discardButton-recordEmployee">      <img src="/images/form-trash.png"><span>Discard Changes</span></button>
        </div>
    </div>
</div> 

<div id="validationModal" class="modal-error">
    <div class="modal-error-content">
        <span class="close">&times;</span>
        <p id="modalMessage"></p>
    </div>
</div>

<!-- Modal for Webcam -->
<div class="modal fade" id="photoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="color: black;">Capture Photo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="width: 30px; box-shadow: none">
                    <span aria-hidden="true" style="color: black;">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="my_camera" class="d-block mx-auto rounded overflow-hidden"></div>
                <div id="results" class="d-none"></div>
                <form method="post" id="photoForm">
                    <input type="hidden" id="photoStore" name="photoStore" value="">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning mx-auto text-white" id="takephoto">Capture Photo</button>
                <button type="button" class="btn btn-warning mx-auto text-white d-none" id="retakephoto">Retake</button>
                <button type="button" class="btn btn-warning mx-auto text-white d-none" id="uploadphoto">Upload</button>
            </div>
        </div>
    </div>
</div>
