<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel = "stylesheet" type ="text/css" href = "/css/back-button.css">
<link rel = "stylesheet" type = "text/css" href = "/css/homepage.css">
<link rel = "stylesheet" type = "text/css" href = "/css/homepage-table.css">
<link rel = "stylesheet" type = "text/css" href = "/css/index.css">
<link rel = "stylesheet" type = "text/css" href = "/css/dropdown.css">

<style>
    .underline{
        margin-left: 0px;
    }
    .dropbtn.margin{
        margin-left: 160px;
        margin-right: 20px;
    }
    .dropdown-content.margin{
        margin-left: 160px;
    }
    
</style>

<div class="main-container" id="main-container">
    <div class= "header" id="header">
        {{!-- edited home link --}}
        <div class = "header-left">
            <a href="/employee-index" class="header-logo-link" id="home-link1"><img src="/images/logo.png" class="header-logo"></a>
            <a href="/employee-index" class="header-home" id="home-link2"><h3>Home</h3></a>
        </div>
        
        <div class = "header-title">
            <div class = "header-text">
                <h3>Sangguniang Barangay ng Parang</h3>
                <h5>Marikina City</h5>
            </div>
        </div>
        <div class="header-right">
            <div class="header-user-profile">
                <span class="header-user-profile-text" id="profile-text">Employee</span>
                <img src="/images/employee-profile.png" class="header-user-profile" id="profile-img">
            </div>
            <a href="/logout"><button type="button" class="header-logout-btn" id="logout-btn" onclick="logout()">Logout</button></a>
        </div>
    </div>
</div> 
   
<div class = "upper-container" id="form-upper-container">
    <div class="back-and-title">
        <a href="/employee-home" class="back-button" id="back-button">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="black" class="size-4">
                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Zm10.25.75a.75.75 0 0 0 0-1.5H6.56l1.22-1.22a.75.75 0 0 0-1.06-1.06l-2.5 2.5a.75.75 0 0 0 0 1.06l2.5 2.5a.75.75 0 1 0 1.06-1.06L6.56 8.75h4.69Z" clip-rule="evenodd"/>
            </svg>
            Back
        </a>
    </div>
</div>

<div class="content-container-tanod-home">

    <div class="box-content-top">
        <!-- missing: functions -->
        <a href="/employee-register-resident" id="createButtonResident">
            <button type="button" class="form-btn create size" id="createButtonResident">                            
                <img src="/images/form-create.png"> <span>Register New Resident</span>  </button>
        </a>

        <div class="dropdown">
            <select id="employeeResidentDropdown" name="caseView" class="form-btn status-dropdown" required>
                <option value="0">View All</option>
                <option value="1">View Registered</option>
                <option value="2">View Archived</option>
            </select>
        </div>

        <div class="search-name-reg margin">
            <form id="searchForm_EResident">
                <button type="submit"><img src="/images/search-reg.png"></button>
                <input type="text" placeholder="Search Name" name="search_name">
            </form>
        </div>
    </div>

    <table class="tanod-lupon-db-table">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Age</th>
                <th>Address</th>
                <th colspan="2">Contact No.</th>
            </tr>
        </thead>
        <tbody>
                {{#each residents}}
                    <tr>
                        {{#checkArchived this.isArchived}}
                            <td><a href="/employee-view-resident/{{this._id}}" class="content-text-main underline view-resident-link">View</a></td>
                            <td class="name cell" id="resident-name">{{fullName FirstName MiddleInitial LastName}}</td>
                            <td class="name cell" id="resident-age">{{this.Age}}</td>
                            <td class="name cell" id="resident-address">{{this.Address}}</td>
                            <td class="name cell" id="resident-contact-number">{{this.ContactNo}}</td>
                        {{else}}
                            <td><a href="/employee-view-resident/{{this._id}}" class="content-text-main underline view-resident-link">View</a></td>
                            <td class="name cell" id="resident-name" style="color: red;">{{fullName FirstName MiddleInitial LastName}}</td>
                            <td class="name cell" id="resident-age">{{this.Age}}</td>
                            <td class="name cell" id="resident-address">{{this.Address}}</td>
                            <td class="name cell" id="resident-contact-number">{{this.ContactNo}}</td>
                        {{/checkArchived}}
                        
                        {{#checkArchived this.isArchived}}
                            <td class="case-status-cell align-left">
                                <a href="/employee-edit-resident/{{this._id}}" id="editButton">
                                <button type="button" id="editButton" class="form-action-btn" title="Edit Case Details"><img src="/images/action-edit.png"></button></a>
                            </td>
                        {{else}}
                            <td class="case-status-cell align-left">
                                <a href="/employee-edit-resident/{{this._id}}" id="editButton" style="pointer-events: none;">
                                <button type="button" id="editButton" class="form-action-btn" title="Edit Case Details" style="pointer-events: none; opacity: 0.5"><img src="/images/action-edit.png"></button></a>
                            </td>
                        {{/checkArchived}}
                        
                    </tr>
                {{/each}}
        </tbody>
    </table>

    <!-- to be fixed -->
    <div class="box-content-page">
        <button class="page-btn" id="count-down">&lt;</button>
        <div class="page-count" id="page-num">{{currentPage}}</div>
        <button class="page-btn" id="count-up">&gt;</button>
        {{#if (eq 0 totalPages)}}
            <div class="page-number">Page {{currentPage}} of 1</div>
        {{else}}
            <div class="page-number">Page {{currentPage}} of {{totalPages}}</div>
        {{/if}}
    </div>

    <script>
        $(document).ready(function() {
            const currentPage = {{currentPage}};
            const totalPages = {{totalPages}};
            const baseUrl = '/employee-resident-db?page=';

            $('#count-down').click(function() {
                if (currentPage > 1) {
                    window.location.href = baseUrl + (currentPage - 1);
                }
            });

            $('#count-up').click(function() {
                if (currentPage < totalPages) {
                    window.location.href = baseUrl + (currentPage + 1);
                }
            });

            // Load the previously selected dropdown value from localStorage
            const savedStatus = localStorage.getItem('selected_EmployeeResident');
            if (savedStatus) {
                $("#employeeResidentDropdown").val(savedStatus); // Set the dropdown to the saved value
            }

            // Event listener for the dropdown change
            $("#employeeResidentDropdown").on("change", function() {
                const selectedValue = $(this).val();
                
                // Save the selected value to localStorage
                localStorage.setItem('selected_EmployeeResident', selectedValue);

                // Send the AJAX request to update the case view
                $.ajax({
                    url: '/employee-resident-db', 
                    type: 'GET', 
                    data: { status: selectedValue },
                    success: function(response) {
                        // Handle success, e.g., update the case list
                    },
                    error: function(xhr, status, error) {
                        console.error('Error loading cases:', error);
                    }
                });

                window.location.href = `/employee-resident-db?status=${selectedValue}`; //automatic refresh
            });

            // Function to disable or enable buttons based on dropdown value
            function updateButtonState() {
                const dropdown = document.getElementById('employeeResidentDropdown');
                const editButton = document.getElementById('editButton');
                const createButton = document.getElementById('createButtonResident');

                if (editButton && createButton) { // Check if both buttons exist
                    switch (dropdown.value) {
                        case '2':
                            createButton.style.pointerEvents = 'none';
                            createButton.style.opacity = '0.5';
                            break;
                        default:
                            createButton.style.pointerEvents = 'auto';
                            createButton.style.opacity = '1';
                    }
                }
            }

            // Call function
            updateButtonState();

            const searchFormResident = document.getElementById('searchForm_EResident');
            if (searchFormResident) {
                searchFormResident.addEventListener('submit', async (event) => {
                    event.preventDefault(); // Prevent the default form submission

                    const formData = new FormData(searchFormResident);
                    const searchName = formData.get('search_name');
                    
                    try {
                        if(searchName) {
                            const response = await fetch(`/search-resident/${searchName}`);

                            if (!response.ok) {
                                throw new Error('Network response was not ok');
                            }

                            const result = await response.json();
                            //console.log(result); 

                            window.location.href = `/employee-resident-db/${searchName}`;
                        } else {
                            window.location.href = '/employee-resident-db';
                        }

                    } catch (error) {
                        console.error('There was a problem with the search operation:', error);
                    }
                });
            }
        });
    </script>
</div>

{{!-- 
    function dropdown() {
        var dropdownContent = document.getElementById("dropdown-btn");
        var dropdownImg = document.getElementById("dropdown-down-btn");

        if (dropdownContent.style.display === "block") {
            dropdownContent.style.display = "none";
            dropdownImg.src = "/images/dropdown-down.png";
        } else {
            dropdownContent.style.display = "block";
            dropdownImg.src = "/images/dropdown-up.png";
        }
    }
        
    function selectOption(optionText) {
        var dropdownButton = document.getElementById("dropdownButton");
        var dropdownImg = document.getElementById("dropdown-down-btn");
        var viewCaseLinks = document.querySelectorAll(".view-resident-link");

        viewCaseLinks.forEach(function(viewCaseLink) {
            if (optionText === 'View Archived') {
                viewCaseLink.href = "/employee-view-archive-resident"; 
            } else {
                viewCaseLink.href = "/employee-view-resident";
            }
        });

        dropdownButton.innerHTML = optionText + ' <img src="/images/dropdown-down.png" id="dropdown-down-btn"/>';
        document.getElementById("dropdown-btn").style.display = "none";

        if (optionText === 'View Archived') {
            hideCaseStatusColumn();
            disableButtons();
        } else {
            enableButtons();
            showCaseStatusColumn();
        }
    }

    function disableButtons() {
        var createButton = document.getElementById('createButtonResident');
        var createLink = createButton.parentElement; 

        createButton.classList.add('disabled');
        createLink.classList.add('disabled'); 
        createLink.setAttribute('href', '#');


        createButton.onclick = function(event) {
            event.preventDefault();
        };
    }
    function enableButtons() {
        var createButton = document.getElementById('createButtonResident');
        var createLink = createButton.parentElement; 

        createButton.classList.remove('disabled');
        createLink.classList.remove('disabled'); 
        createLink.setAttribute('href', '/employee-register-resident');
        

        createButton.onclick = null;
    }

    window.onclick = function(event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            for (var i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.style.display === "block") {
                    openDropdown.style.display = "none";
                }
            }
        
            var dropdownImg = document.getElementById("dropdown-down-btn");
            dropdownImg.src = "/images/dropdown-down.png";
        }
    };

    function trimText(selector, maxLength) {
            const elements = document.querySelectorAll(selector);
            elements.forEach(element => {
                const text = element.textContent.trim();
                if (text.length > maxLength) {
                    element.textContent = text.substring(0, maxLength) + '...';
                }
            });
        }
    
        document.addEventListener("DOMContentLoaded", function() {
            trimText('.headline-cell', 15); 
            trimText('.event-info-cell', 25); 
        });


    function hideCaseStatusColumn() {
        var statusCells = document.querySelectorAll('.case-status-cell');
        statusCells.forEach(function(cell) {
            cell.style.display = 'none'; 
        });

        
        var statusHeader = document.querySelector('th.case-status-header');
        if (statusHeader) {
            statusHeader.style.display = 'none';  
        }
    }
    function showCaseStatusColumn() {
        var statusCells = document.querySelectorAll('.case-status-cell');
        statusCells.forEach(function(cell) {
            cell.style.display = ''; 
        });

        var statusHeader = document.querySelector('th.case-status-header');
        if (statusHeader) {
            statusHeader.style.display = '';  
        }
    }
 --}}