<link rel = "stylesheet" type = "text/css" href = "/css/homepage.css">
<link rel = "stylesheet" type = "text/css" href = "/css/homepage-table.css">
<link rel = "stylesheet" type = "text/css" href = "/css/dropdown.css">

<script src = "/js/header.js" type="text/javascript"></script>
 <div class = "main-container">
            <div class= "header" id="header">
                <div class = "header-left">
                    <a href="/lupon-home" class="header-logo-link" id="home-link1"><img src="/images/logo.png" class="header-logo"></a>
                    <a href="/lupon-home" class="header-home" id="home-link2"><h3>Home</h3></a>
                </div>
                
                <div class = "header-title">
                    <div class = "header-text">
                        <h3>Sangguniang Barangay ng Parang</h3>
                        <h5>Marikina City</h5>
                    </div>
                </div>
                <div class="header-right">
                    <div class="header-user-profile">
                        <span class="header-user-profile-text lupon" id="profile-text">Lupon</span>
                        <img src="/images/lupon-profile.png" class="header-user-profile" id="profile-img">
                    </div>
                    <a href="/logout"><button type="button" class="header-logout-btn" id="logout-btn" onclick="logout()">Logout</button></a>
                </div>
            </div>
        </div>
        <!--New addition-->
        <div class="content-container-tanod-home">
            <div class="box-content-top">
                <a href="/lupon-create"><button type="button" id="create-btn" class="form-btn create size"><img src="/images/form-create.png"><span>Create New Record</span></button></a>
                <button type="button"  id="resolve-btn" class="form-btn resolved margin size" ><img src="/images/form-check.png"><span>Mark as Resolved</span></button>
                <div class="dropdown">
                    <button onclick="dropdown()" class="dropbtn margin" id="dropdownButton">View All Cases
                        <img src="/images/dropdown-down.png" id="dropdown-down-btn"/>
                    </button>
                    <div id="dropdown-btn" class="dropdown-content margin">
                        <a href="#" onclick="selectOption('View All Cases')">View All Cases</a>
                        <a href="#" onclick="selectOption('View Ongoing')">View Ongoing</a>
                        <a href="#" onclick="selectOption('View Resolved')">View Resolved</a>
                        <a href="#" onclick="selectOption('View Archived')">View Archived</a>
                    </div>                  
                </div>

                <div class="search-name-reg margin">
                    <form id="search-form" method="GET" action="/lupon-home">
                        <button type="submit"><img src="/images/search-reg.png"></button>
                        <input type="text" placeholder="Search Name" name="search_name">
                    </form>
                  </div>
            </div>
            <div class="box-content">
                <!--
                <div class="box-content-header lupon-tanod">
                    <div class="content-text-group left">
                        <div class="content-text-group title">
                            <div class="content-text">Case Title</div>
                        </div>
                        <div  class="content-text-group type">
                            <div class="content-text">Case Type</div>
                        </div>
                        <div class="content-text lupon-margin">Respondent</div>
                    </div>
                    <div class="content-text-group right">
                        <div class="content-text">Complainer</div>
                        <div class="content-text">Case Status</div>
                    </div>
                </div>
                {{#each cases}}
                <div class="box-content-main">
                    <button type="button" class="checkbox margin" data-case-id="{{this.caseID}}"><img src="/images/Done.png"></button>
                    <a href="/lupon-view-case/{{this.caseID}}" class="content-text-main underline-lupon-tanod">View</a>
                    <div class="content-text-main tanod-lupon">{{this.caseTitle}}</div>
                    <div class="content-text-main date">{{this.caseType}}</div>
                    <div class="content-text-main reportee">{{this.respondentFirstName}} {{this.respondentLastName}}</div>
                    <div class="content-text-main respondent">{{this.complainerFirstName}} {{this.complainerLastName}}</div>
                    <button type="button" class="status {{this.stat_lc}} margin2 markResolve" data-case-id="{{this.caseID}}"><img src="/images/{{this.stat_lc}}-circle.png"><span>{{this.status}}</span></button>
                    <button type="button" class="form-action-btn margin" title="Edit Case Details" {{this.isEditable}}><a href="/lupon-edit-case/{{this.caseID}}" {{this.isEditable}}><img src="/images/action-edit.png"></a></button>
                </div>
                {{/each}}
                -->                
            </div>

            <table class="tanod-lupon-db-table">
                <thead>
                    <tr>
                        <th colspan="2"></th>
                        <th>Case Title</th>
                        <th>Case Type</th>
                        <th>Respondent</th>
                        <th>Complainer</th>
                        <th colspan="2">Case Status</th>
                    </tr>
                </thead>
                <tbody id="lupon-db-table-body">
                    {{#each cases}}
                        <tr data-id="{{this.caseID}}" data-isArchived="{{this.isArchived}}">
                            <td data-label="checkbox" class="align-right check-view-cell">
                                <button type="button" class="checkbox" data-case-id="{{this.caseID}}"><img src="/images/Done.png"></button>
                            </td>
                            <td class="align-left">
                                <a href="/lupon-view-case/{{this.caseID}}" class="content-text-main underline-lupon-tanod">View</a>
                            </td>
                            <td>
                                {{this.caseTitle}}
                            </td>
                            <td>
                                {{this.caseType}}
                            </td>
                            <td class="name-cell">
                                {{this.respondentFirstName}} {{this.respondentLastName}}    
                            </td>
                            <td class="name-cell">
                                {{this.complainerFirstName}} {{this.complainerLastName}}    
                            </td>
                            <td class="case-status-cell">
                                <button type="button" class="status view-case-detail-link {{this.stat_lc}} margin3 markResolve" data-case-id="{{this.caseID}}"><img src="/images/{{this.stat_lc}}-circle.png"><span>{{this.status}}</span></button>
                            </td>
                            <td class="case-status-cell align-left">
                                <a href="/lupon-edit-case/{{this.caseID}}" {{this.isEditable}}>
                                <button type="button" class="form-action-btn" title="Edit Case Details" {{isEditable}}><img src="/images/action-edit.png"></button></a>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>

            <div class="box-content-page">
                <button class="page-btn" id="count-down">&lt;</button>
                <div class="page-count" id="page-num">{{currentPage}}</div>
                <button class="page-btn" id="count-up">&gt;</button>
                <div class="page-number">Page {{currentPage}} of {{totalPages}}</div>
            </div>
        </div>

    <script>
    $(document).ready(function() {
        const currentPage = {{currentPage}};
        const totalPages = {{totalPages}};
        const baseUrl = '/lupon-home?page=';

        $('#count-down').click(function() {
            if (currentPage > 1) {
                window.location.href = baseUrl + (currentPage - 1);
            }
        });

        $('#count-up').click(function() {
            if (currentPage < totalPages) {
                window.location.href = baseUrl + (currentPage + 1);
            }
        });
    });
</script>

<script>
        function dropdown() {
            var dropdownContent = document.getElementById("dropdown-btn");
            var dropdownImg = document.getElementById("dropdown-down-btn");

            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
                dropdownImg.src = "/images/dropdown-down.png";
            } else {
                dropdownContent.style.display = "block";
                dropdownImg.src = "/images/dropdown-up.png";
            }
        }
        document.addEventListener('DOMContentLoaded', function() {
            var rows = document.querySelectorAll("#lupon-db-table-body tr");

            rows.forEach(function(row) {
                var statusButton = row.querySelector(".case-status-cell button");
                var statusText = row.querySelector(".case-status-cell button span")?.textContent.trim();
                var imgElement = row.querySelector(".case-status-cell img");
                if (statusText === "Archived") {
                    statusButton.classList.add("ongoing"); 
                    imgElement.setAttribute("src", "/images/" + "archive-circle.png");
                }
            });
        });

            
        function selectOption(optionText) {
            var dropdownButton = document.getElementById("dropdownButton");
            var dropdownImg = document.getElementById("dropdown-down-btn"); //dropdown-btn
            var viewCaseLinks = document.querySelectorAll(".status.view-case-detail-link");

            dropdownButton.innerHTML = optionText + ' <img src="/images/dropdown-down.png" id="dropdown-down-btn"/>';
            document.getElementById("dropdown-btn").style.display = "none";
    
            if (optionText === 'View All Cases') {
                showAllRows();
                enableButtons();
                filterRows('All', optionText);
            }else if (optionText === 'View Ongoing') {
                filterRows('Ongoing', optionText);
            } else if (optionText === 'View Resolved') {
                filterRows('Resolved', optionText);
                enableButtons();
            } else if (optionText === 'View Archived') {
                filterRows('Archived', optionText);
                disableButtons();
            } 
        }
        function filterRows(status, optionText) {
            var rows = document.querySelectorAll("#lupon-db-table-body tr");
            rows.forEach(function(row) {
                var statusText = row.querySelector(".case-status-cell button span")?.textContent.trim();
                var caseId = row.getAttribute("data-id"); 
               var isArchived = row.getAttribute("data-isArchived") === '1';
                var viewText = row.querySelector(".content-text-main.underline-lupon-tanod");
                if (status === 'All' || statusText.toLowerCase() === status.toLowerCase()) {
                    row.style.display = "table-row"; 
                    viewText.textContent = statusText === 'Archived' ? "View Archive" : "View";
                    
                    if (statusText === 'Archived' && optionText === 'View Archived' && archivedRowId) {
                        viewText.href = "/lupon-view-archive-case"; 
                    } else {
                        viewText.href = "/lupon-view-case/" + caseId;
                    }
                } else {
                    row.style.display = "none";  
                }
            });
        }

        function showAllRows() {
            var rows = document.querySelectorAll("#lupon-db-table-body tr");
            rows.forEach(function(row) {
                row.style.display = "table-row";
            });
        }


        function disableButtons() {
            var createButton = document.getElementById('create-btn');
            var createLink = createButton.parentElement; 
            var resolveButton = document.getElementById('resolve-btn');

            createButton.classList.add('disabled');
            createLink.classList.add('disabled'); 
            createLink.setAttribute('href', '#');

            resolveButton.classList.add('disabled');

            createButton.onclick = function(event) {
                event.preventDefault();
            };
            resolveButton.onclick = function(event) {
                event.preventDefault();
            };
        }
            
        function enableButtons() {
            var createButton = document.getElementById('create-btn');
            var createLink = createButton.parentElement; 
            var resolveButton = document.getElementById('resolve-btn');

            createButton.classList.remove('disabled');
            createLink.classList.remove('disabled'); 
            createLink.setAttribute('href', '/submit-lupon-case');
            
            resolveButton.classList.remove('disabled');

            createButton.onclick = null;
            resolveButton.onclick = null;
        }

            
        window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                for (var i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.style.display === "block") {
                        openDropdown.style.display = "none";
                    }
                }
            
                var dropdownImg = document.getElementById("dropdown-down-btn");
                dropdownImg.src = "/images/dropdown-down.png";
            }
        };

    </script>



