<!--NOTE: TEMPORARY LINKS TO LOGIN AND SIGNUP TO BE DELETED AFTER FINISHED ALL PAGES FOR CORRECT FLOW -->
<!-- for roles to be renamed: "<role>-index.hbs"-->

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" />
<link rel="stylesheet" type="text/css" href="/css/index.css" />

<header class="sticky-top">
  <!-- Navbar -->
  <div class="header" id="header">
    <div class="header-left-lp">
      <a href="#" class="header-logo-link" id="home-link1"><img src="/images/logo.png" class="header-logo" /></a>
      <a href="#" class="header-home" id="home-link2"><h3>Home</h3></a>
    </div>

    <div class="header-title-lp">
      <div class="header-text-lp">
        <h3>Sangguniang Barangay ng Parang</h3>
        <h5>Marikina City</h5>
      </div>
    </div>
    <div class="header-right">
      <ul class="header-links navbar-nav d-flex flex-row mr-2">
        <li class="nav-item mx-2">
          <a href="#events" class="nav-link">Events</a>
        </li>
        <li class="nav-item mx-2">
          <a href="#aboutus" class="nav-link">About Us</a>
        </li>
        <li class="nav-item mx-2">
          <a href="#contactus" class="nav-link">Contact Us</a>
        </li>
      </ul>
    </div>

    <div class="d-flex flex-row mx-2">
      <a href="/logout"><button type="button" class="header-login-btn mr-2" id="logout-btn">Logout</button></a>
    </div>

  </div>
</header>

<section class="bg-white pb-5" id="home">
  <div class="container">
    <div class="border border-secondary rounded-sm">
      <div class="row justify-content-center">
        <div class="col text-center justify-content-center p-3">
          <h1 class="p-3" style="color: #004112">
            {{fullName resident.FirstName resident.MiddleInitial resident.LastName}}
          </h1>
          <h5 class="text-secondary">Review your Resident details here.</h5>
        </div>
      </div>
      <!-- resident details -->
      <div class="mx-auto" style="width: 900px;">
        
        <div class="container p-5">
          <div class="row mb-1">
            <div class="col-5">
              <label for="first-name">First Name</label>
              <input id="first-name" type="text" class="form-control" placeholder="{{resident.FirstName}}" readonly/>
            </div>
            <div class="col-2">
              <label for="middle-initial">Middle Initial</label>
              <input id="middle-initial" type="text" class="form-control" placeholder="{{resident.MiddleInitial}}" readonly />
            </div>
            <div class="col-5">
              <label for="last-name">Last Name</label>
              <input id="last-name" type="text" class="form-control" placeholder="{{resident.LastName}}" readonly />
            </div>
          </div>
          <div class="row mb-1">
            <div class="col-3">
              <label for="birthdate">Birthdate</label>
              <input id="birthdate" type="date" class="form-control" value="{{resident.Birthday}}" readonly />
            </div>
            <div class="col-3">
              <label for="gender">Gender</label>
              <input id="gender" type="text" class="form-control" placeholder="{{resident.Sex}}" readonly />
            </div>
            <div class="col-3">
              <label for="age">Age</label>
              <input id="age" type="number" class="form-control"  placeholder="{{resident.Age}}" readonly />
            </div>
            <div class="col-3">
              <label for="senior">Senior? (Y/N)</label>
              <input id="senior" type="text" maxlength="1" class="form-control" placeholder="{{resident.isSeniorCitizen}}" readonly />
            </div>
          </div>
          <div class="row mb-1">
            <div class="col-9">
              <label for="address">Address</label>
              <input id="address" type="text" class="form-control" placeholder="{{resident.Address}}" readonly />
            </div>
            <div class="col-3">
              <label for="rent_own">Rent/Own? (Y/N)</label>
              <input id="rent_own" type="text" maxlength="1" class="form-control"  placeholder="{{resident.HousingInfo}}" readonly />
            </div>
          </div>
          <div class="row mb-1">
            <div class="col-4">
              <label for="num_residents" style="font-size:small;">Number of Residents in Household</label>
              <input id="num_residents" type="number" class="form-control" placeholder="{{resident.NoOfResident}}" readonly />
            </div>
            <div class="col-4">
              <label for="civil_status">Civil Status</label>
              <input id="civil_status" type="text" class="form-control" placeholder="{{resident.CivilStatus}}" readonly />
            </div>
            <div class="col-4">
              <label for="contact_num">Contact Number</label>
              <input id="contact_num" type="number" class="form-control" placeholder="{{resident.ContactNo}}" readonly />
            </div>
          </div>

          <div class="row mb-1">
            <div class="col-4">
              <label for="req_counter">Certificate Request Counter</label>
              <input id="req_counter" type="number" class="form-control" placeholder="{{resident.Req_counter}}" readonly style="width:50px"/>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-5" id="events" style="background-color: #147F3A;">
  <div class="container">
    <h2 class="m-2 text-light text-center">Events</h2>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="d-flex flex-row justify-content-center">
            <div class="card mx-1" style="width: 18rem;">
              <img src="/images/brgy-parang-1.png" class="card-img-top" alt="..." />
              <div class="card-body align-start">
                <h5 class="card-title font-weight-bold">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
            <div class="card mx-1" style="width: 18rem;">
              <img src="/images/brgy-parang-1.png" class="card-img-top" alt="..." />
              <div class="card-body align-start">
                <h5 class="card-title font-weight-bold">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
            <div class="card mx-1" style="width: 18rem;">
              <img src="/images/brgy-parang-1.png" class="card-img-top" alt="..." />
              <div class="card-body align-start">
                <h5 class="card-title font-weight-bold">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="d-flex flex-row justify-content-center">
            <div class="card mx-1" style="width: 18rem;">
              <img src="/images/brgy-parang-1.png" class="card-img-top" alt="..." />
              <div class="card-body align-start">
                <h5 class="card-title font-weight-bold">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
            <div class="card mx-1" style="width: 18rem;">
              <img src="/images/brgy-parang-1.png" class="card-img-top" alt="..." />
              <div class="card-body align-start">
                <h5 class="card-title font-weight-bold">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
            <div class="card mx-1" style="width: 18rem;">
              <img src="/images/brgy-parang-1.png" class="card-img-top" alt="..." />
              <div class="card-body align-start">
                <h5 class="card-title font-weight-bold">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="d-flex flex-row justify-content-center">
            <div class="card mx-1" style="width: 18rem;">
              <img src="/images/brgy-parang-1.png" class="card-img-top" alt="..." />
              <div class="card-body align-start">
                <h5 class="card-title font-weight-bold">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
            <div class="card mx-1" style="width: 18rem;">
              <img src="/images/brgy-parang-1.png" class="card-img-top" alt="..." />
              <div class="card-body align-start">
                <h5 class="card-title font-weight-bold">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
            <div class="card mx-1" style="width: 18rem;">
              <img src="/images/brgy-parang-1.png" class="card-img-top" alt="..." />
              <div class="card-body align-start">
                <h5 class="card-title font-weight-bold">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev events-carousel-btn" type="button" data-target="#carouselExampleControls" data-slide="prev">
          <span><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
            </svg></span>
        </button>
        <button class="carousel-control-next events-carousel-btn" type="button" data-target="#carouselExampleControls" data-slide="next">
          <span><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708" />
            </svg></span>
        </button>
      </div>
    </div>
  </div>
</section>

<section class="bg-white p-5" id="aboutus">
  <div class="container">
    <h2 class="m-2 text-center">About Us</h2>
    <div class="row">
      <div class="col-5">
        <img src="/images/brgy-parang-1.png" class="img-fluid" alt="" />
      </div>
      <div class="col-7">
        <p>

        </p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus quasi corrupti numquam tenetur autem maiores vero reiciendis voluptas omnis dolore officia voluptate sapiente nostrum ducimus, a corporis commodi delectus eius libero? Accusantium expedita nostrum similique non, quo
          fuga! Obcaecati, sit.
        </p>

        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus quasi corrupti numquam tenetur autem maiores vero reiciendis voluptas omnis dolore officia voluptate sapiente nostrum ducimus, a corporis commodi delectus eius libero? Accusantium expedita nostrum similique non, quo
          fuga! Obcaecati, sit.
        </p>

      </div>
    </div>
  </div>
</section>

<section class="p-5" id="contactus" style="background-image: linear-gradient(#147F3A, #004112);">
  <div class="container text-light">
    <div class="row">
      <div class="col-7">
        <div class="row">
          <div class="col-5">
            <img src="/images/logo-revised.svg" class="img-fluid" />
          </div>
          <div class="col-7">
            <h2>Quick Links</h2>
            <a href="#">Marikina City Website</a><br />
            <a href="#">Marikina City Facebook Page</a><br />
            <a href="#">Marikina City Twitter Page</a><br />
          </div>
        </div>
      </div>
      <div class="col-5">
        <h2>Contact Us</h2>
        Hotline: +1 234 5678<br />
        Hotline: +1 234 5678<br />
        Email: loremipsum@gmail.com<br />
        <a href="#">Barangay Parang Facebook Page</a>

      </div>

    </div>
  </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>

<!-- PREVIOUS CODE 

<html>
  <head>
    <title>
      Barangay Parang - Initial Login Page
    </title>
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="main-container">
      <div class="ls-panel">
        <div class="ls-panel-left">
          <img src="/images/logo-revised.svg" class="ls-panel-logo" />
          <h1>Barangay Parang</h1>
        </div>
        <div class="ls-panel-right">
          <h1>Choose Portal:</h1>
          <div class="portal-buttons">
            NOTE: TEMPORARY LINKS TO LOGIN AND SIGNUP TO BE DELETED AFTER FINISHED ALL PAGES FOR CORRECT FLOW
            <a href="/employee-login"><button type="button" class="portal-btn-employee">Signup</button></a>
            <a href="/admin-login-page"><button type="button" class="portal-btn-admin">Login</button></a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
-->