<link rel = "stylesheet" type="text/css" href = "/css/back-button.css">
<div class = "main-container">
            <div class= "header" id="header">
                <div class = "header-left">
                    <a href="/tanod-home" class="header-logo-link" id="home-link1"><img src="/images/logo.png" class="header-logo"></a>
                    <a href="/tanod-home" class="header-home" id="home-link2"><h3>Home</h3></a>
                </div>
                
                <div class = "header-title">
                    <div class = "header-text">
                        <h3>Sangguniang Barangay ng Parang</h3>
                        <h5>Marikina City</h5>
                    </div>
                </div>
                <div class="header-right">
                    <div class="header-user-profile">
                        <span class="header-user-profile-text tanod" id="profile-text">Tanod</span>
                        <img src="/images/tanod-profile.png" class="header-user-profile" id="profile-img">
                    </div>
                    <a href="/logout"><button type="button" class="header-logout-btn" id="logout-btn">Logout</button></a>
                </div>
            </div>
            
            <div class = "page-content-container"  id="edit-case-page">
                <div class = "back-and-title">
                    <div class="upper-container" id="form-upper-container">
                        <a href="/page-view-case/{{case.EntryNo}}" class="back-button" id="white-back-button">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="white" class="size-4">
                                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Zm10.25.75a.75.75 0 0 0 0-1.5H6.56l1.22-1.22a.75.75 0 0 0-1.06-1.06l-2.5 2.5a.75.75 0 0 0 0 1.06l2.5 2.5a.75.75 0 1 0 1.06-1.06L6.56 8.75h4.69Z" clip-rule="evenodd"></path>
                            </svg>
                            Back
                        </a>
                    </div>
                    <h1 id = "tanod-case-title">Editing Tanod Case Details</h1>
                </div>
                <div class = "form-encasing-container">
                    <div class = "form-actual-container">
                        <form class="case-form" id="caseForm" action="/update-tanod-case" method="post">
                            <div class = "form-section" id = "basic-info">
                                <div class = "column-section">
                                    <label for="entry-number-input" class ="bold-label">Entry Number</label>
                                    <input class = "entry-number-input" type = "text"  name="entryNumber" placeholder= "Entry Number" value="{{case.EntryNo}}" readonly>
                                </div>
                                <div class = "column-section">
                                    <label for="date" class ="bold-label">Date</label>
                                    <input type = "date" name="date" id = "dateInput" value="{{case.Date}}">
                                </div>
                                <div class = "column-section1">
                                    <label for="case-form" class ="bold-label">Status</label>
                                    <select name="status" class="status-dropdown" selected = "{{case.Status}}">
                                        <option value="" disabled hidden>Select Status</option>
                                        <option value="Resolved" {{resolveStat}}>Resolved</option>
                                        <option value="Ongoing" {{ongoingStat}}>Ongoing</option>
                                    </select>
                                </div>
                            </div>
                            <span class = "section-name">Reportee Information</span>
                            <div class = "form-section" id = "reportee-info">
                                <div class = "input-pair">
                                    <label for="last-name-input">Last Name</label>
                                    <input class = "last-name-input" type ="text" name="reporteeLastName" placeholder="Last Name" value="{{reporteeInfo.LastName}}" >
                                </div>
                                <div class = "input-pair">
                                    <label for="middle-initial-input">Middle Initial</label>
                                    <input class = "middle-name-input" type = "text" name="reporteeMiddleInitial" placeholder="M.I." maxlength="1" value="{{reporteeInfo.MiddleInitial}}" >
                                </div>
                                <div class = "input-pair">
                                    <label for="first-name-input">First Name</label>
                                    <input class = "first-name-input" type = "text" name="reporteeFirstName" placeholder="First Name" value="{{reporteeInfo.FirstName}}">
                                </div>
                            </div>
                            <div class="form-section" id = "reportee-additional-info">
                                <div class = "input-pair">
                                    <label for="">Reportee Address</label>
                                    <input class = "address-input" type = "text" name="reporteeAddress" placeholder="Reportee Address" value="{{reporteeInfo.Address}}" > 
                                </div>
                            </div>
                            <span class="section-name">Nature of Blotter</span>
                            <div class = "form-section">
                                <div class = "input-pair">
                                    <input class = "nature-of-blotter-input" type = "text" name="natureOfBlotter" placeholder="Nature of Blotter" value="{{case.natureOfBlotter}}" >
                                </div>
                            </div>
                            <span class = "section-name">Respondent Information</span>
                            <div class = "form-section" id = "respondent-info">
                                <div class = "input-pair">
                                    <label for="last-name-input">Last Name</label>
                                    <input class = "last-name-input" type ="text" name="respondentLastName" placeholder="Last Name" value="{{respondentInfo.LastName}}" >
                                </div>
                                <div class = "input-pair">
                                    <label for="middle-initial-input">Middle Initial</label>
                                    <input class = "middle-name-input" type = "text" name="respondentMiddleInitial" placeholder="M.I." maxlength="1" value="{{respondentInfo.MiddleInitial}}" >
                                </div>
                                <div class = "input-pair">
                                    <label for="first-name-input">First Name</label>
                                    <input class = "first-name-input" type = "text" name="respondentFirstName" placeholder="First Name" value="{{respondentInfo.FirstName}}" >
                                </div>
                            </div>
                            <span class = "section-name">Desk Officer Information</span>

                            <div class = "form-section" id = "desk-officer-information">
                                <div class = "input-pair">
                                    <label for="last-name-input">Last Name</label>
                                    <input class = "last-name-input" type ="text" name="deskOfficerLastName" placeholder="Last Name" value="{{deskInfo.LastName}}" >
                                </div>
                                <div class = "input-pair">
                                    <label for="middle-initial-input">Middle Initial</label>
                                    <input class = "middle-name-input" type = "text" name="deskOfficerMiddleInitial" placeholder="M.I." maxlength="1" value="{{deskInfo.MiddleInitial}}" >
                                </div>
                                <div class = "input-pair">
                                    <label for="first-name-input">First Name</label>
                                    <input class = "first-name-input" type = "text" name="deskOfficerFirstName" placeholder="First Name" value="{{deskInfo.FirstName}}" >
                                </div>
                            </div>
                            <span class = "section-name">Witness Information</span>
                            <div class = "form-section" id = "witness-information">
                                <div class = "input-pair">
                                    <label for="last-name-input">Last Name</label>
                                    <input class = "last-name-input" type ="text" name="witnessLastName" placeholder="Last Name" value="{{witnessInfo.LastName}}" >
                                </div>
                                <div class = "input-pair">
                                    <label for="middle-initial-input">Middle Initial</label>
                                    <input class = "middle-name-input" type = "text" name="witnessMiddleInitial" placeholder="M.I." maxlength="1" value="{{witnessInfo.MiddleInitial}}" >
                                </div>
                                <div class = "input-pair">
                                    <label for="first-name-input">First Name</label>
                                    <input class = "first-name-input" type = "text" name="witnessFirstName" placeholder="First Name" value="{{witnessInfo.FirstName}}" >
                                </div>
                            </div>
                            <span class ="section-name">Location</h5>
                            <div class = "form-section" id="location">
                                <div class = "input-pair">
                                    <input class = "location-input" type = "text" name="location" placeholder="Location" value="{{case.Location}}" >
                                </div>
                            </div>
                        </form>
                    </div>  
                </div>
                <div class = "buttons-container">
                    <button type="submit" form="caseForm" class="form-btn save"><img src="/images/form-check.png"><span>Save Changes</span></button>
                    <a href="/tanod-home"><button type="button" class="form-btn discard"><img src="/images/form-trash.png"><span>Discard Changes</span></button></a>
                </div>
            </div>
        </div>


        <script>
            document.getElementById('caseForm').addEventListener('submit', async function(event) {
            event.preventDefault();

            const form = event.target;
            const formData = new FormData(form);
            const formObject = {};
            formData.forEach((value, key) => {
                formObject[key] = value;
            });

             // Client-side validation (optional, as server-side validation is primary)
            let formIsValid = true;
            for (const key in formObject) {
                if (!formObject[key].trim()) {
                    formIsValid = false;
                    break;
                }
            }

            if (!formIsValid) {
                alert('Please fill in all required fields.');
                return;
            } 


           try {
            const response = await fetch('/update-tanod-case', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formObject)
            });

            const result = await response.json();

            if (response.ok) {
                window.location.href = result.redirectUrl;
            } else {
                alert(result.message);
            }
        } catch (error) {
            console.error('Error:', error);
            alert('An error occurred while submitting the form. Please try again.');
        }
        });
        </script>