<link rel = "stylesheet" type = "text/css" href = "/css/homepage.css">
<link rel = "stylesheet" type = "text/css" href = "/css/homepage-table.css">
<link rel = "stylesheet" type = "text/css" href = "/css/index.css">
<script src = "/js/header.js" type="text/javascript"></script>
<!--<script src = "/js/components.js" type="text/javascript"></script>-->

<div class = "main-container">
            <div class= "header" id="header">
                <div class = "header-left">
                    <a href="/tanod-home" class="header-logo-link" id="home-link1"><img src="/images/logo.png" class="header-logo"></a>
                    <a href="/tanod-home" class="header-home" id="home-link2"><h3>Home</h3></a>
                </div>
                
                <div class = "header-title">
                    <div class = "header-text">
                        <h3>Sangguniang Barangay ng Parang</h3>
                        <h5>Marikina City</h5>
                    </div>
                </div>
                <div class="header-right">
                    <div class="header-user-profile">
                        <span class="header-user-profile-text tanod" id="profile-text">Tanod</span>
                        <img src="/images/tanod-profile.png" class="header-user-profile" id="profile-img">
                    </div>
                    <a href="/logout"><button type="button" class="header-logout-btn" id="logout-btn" onclick="logout()">Logout</button></a>
                </div>
            </div>
        </div>
        
        <div class="content-container-tanod-home">
            <div class="box-content-top">
                <a href="/tanod-create"><button type="button" class="form-btn create size"><img src="/images/form-create.png"><span>Create New Record</span></button></a>
                <button type="button" id="resolve-btn" class="form-btn resolved margin size"><img src="/images/form-check.png"><span>Mark as Resolved</span></button>
                <button type="button" id="delete-btn" class="form-btn delete margin size"><img src="/images/form-trash.png"><span>Delete Selection</span></button>
                <div class="search-name-reg margin">
                    <form id="search-form" method="GET" action="/tanod-home"> 
                        <button type="submit"><img src="/images/search-reg.png"></button>
                        <input type="text" placeholder="Search Name" name="search_name">
                    </form>
                  </div>
            </div>
            
            <div class="box-content">
                <!--
                <div class="box-content-header lupon-tanod">
                    <div class="content-text-group left">
                        <div class="content-text-group pair">
                            <button type ="button" class="sort {{sortField 'EntryNo'}} {{sortOrder sortOrder}} pair" id="sortEntryNum"><img src="/images/sort-{{sortOrder}}.png"></button>
                            <div class="content-text">Entry #</div>
                        </div>
                        <div  class="content-text-group pair last-pair">
                            <button type ="button" class="sort {{sortField 'Data'}} {{sortOrder sortOrder}} pair" id="sortDate"><img src="/images/sort-{{sortOrder}}.png"></button>
                            <div class="content-text">Date</div>
                        </div>
                        <div class="content-text">Reportee</div>
                    </div>
                    <div class="content-text-group right">
                        <div class="content-text">Respondent</div>
                        <div class="content-text">Case Status</div>
                    </div>
                    

                </div>
                
                {{#each cases}}
                <div class="box-content-main">
                    <button type="button" class="checkbox margin" data-case-id="{{this.caseID}}"><img src="/images/Done.png"></button>
                    <a href="/page-view-case/{{this.entryNo}}" class="content-text-main underline-lupon-tanod">View</a>
                    <div class="content-text-main tanod-lupon">{{this.entryNo}}</div>
                    <div class="content-text-main date">{{this.date}}</div>
                    <div class="content-text-main reportee">{{this.reporteeFirstName}} {{this.reporteeLastName}}</div>
                    <div class="content-text-main respondent">{{this.respondentFirstName}} {{this.respondentLastName}}</div>
                    <button type="button" class="status {{this.stat_lc}} margin2 markResolve" data-case-id="{{this.caseID}}"><img src="/images/{{this.stat_lc}}-circle.png"><span>{{this.status}}</span></button>
                    <a href="/tanod-edit-case/{{this.entryNo}}" {{isEditable}}><button type="button" class="form-action-btn margin" title="Edit Case Details" {{isEditable}}><img src="/images/action-edit.png"></button></a>
                    
                </div>
                {{/each}}
                -->
                
            </div>

            <table class="tanod-lupon-db-table">
                <thead>
                    <tr>
                        <th colspan="2"></th>
                        <th class="entry-date-cell"><div class="content-text-group pair">
                            <button type="button" class="sort {{sortField 'EntryNo'}} {{sortOrder sortOrder}} pair" id="sortEntryNum"><img src="/images/sort-{{sortOrder}}.png"></button>
                            <div class="content-text">Entry #</div>
                        </div>
                        </th>
                        <th class="entry-date-cell"><div class="content-text-group pair">
                            <button type="button" class="sort {{sortField 'Data'}} {{sortOrder sortOrder}} pair" id="sortDate"><img src="/images/sort-.png"></button>
                            <div class="content-text">Date</div></th>
                        <th>Reportee</th>
                        <th>Respondent</th>
                        <th colspan="2">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each cases}}
                        <tr>
                            <td data-label="checkbox" class="align-right check-view-cell">

                                <button type="button" class="checkbox" data-case-id="{{this.caseID}}"><img src="/images/Done.png"></button>
                            </td>
                            <td class="align-left">
                                <a href="/page-view-case/{{this.entryNo}}" class="content-text-main underline-lupon-tanod">View</a>
                            </td>
                            <td>
                                {{this.entryNo}}
                            </td>
                            <td>
                                {{this.date}}
                            </td>
                            <td class="name-cell">
                                {{this.reporteeFirstName}} {{this.reporteeLastName}}
                            </td>
                            <td class="name-cell">
                                {{this.respondentFirstName}} {{this.respondentLastName}}
                            </td>
                            <td class="case-status-cell">
                                <button type="button" class="status {{this.stat_lc}} margin3 markResolve" data-case-id="{{this.caseID}}"><img src="/images/{{this.stat_lc}}-circle.png"><span>{{this.status}}</span></button>
                            </td>
                            <td class="case-status-cell align-left">
                                <a href="/tanod-edit-case/{{this.entryNo}}" {{isEditable}}>
                                <button type="button" class="form-action-btn" title="Edit Case Details" {{isEditable}}><img src="/images/action-edit.png"></button></a>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>

            <div class="box-content-page">
                <button class="page-btn" id="count-down">&lt;</button>
                <div class="page-count" id="page-num">{{currentPage}}</div>
                <button class="page-btn" id="count-up">&gt;</button>
                <div class="page-number">Page {{currentPage}} of {{totalPages}}</div>
            </div>
        </div>

       <script>
             $(document).ready(function() {
            const currentPage = {{currentPage}};
            const totalPages = {{totalPages}};
            const urlParams = new URLSearchParams(window.location.search);
            const sortField = urlParams.get('sort_field') || 'EntryNo';
            const sortOrder = urlParams.get('sort_order') || 'desc';
            const searchName = urlParams.get('search_name') || '';
            const baseUrl = `/tanod-home?sort_field=${sortField}&sort_order=${sortOrder}&search_name=${searchName}&page=`;

            $('#count-down').click(function() {
                if (currentPage > 1) {
                    window.location.href = baseUrl + (currentPage - 1);
                }
            });

            $('#count-up').click(function() {
                if (currentPage < totalPages) {
                    window.location.href = baseUrl + (currentPage + 1);
                }
            });
        });
    </script>